<!--
Citation for the following function:
   Date: 3/18/24
   Copied from the OSU CS340 Nodejs starter app Step 3
   Starter code used with only the title being changed
   Source URL:
   https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
-->

<!-- main.hbs-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    <title>OSU Football Management</title>
</head>
<body>

    {{{body}}}

</body>
</html>